[alias]
	s = status
	f = fetch
	l = log --oneline --decorate --graph --pretty='format:%Cred%h%Creset - %C(yellow)%D%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	ll = log --oneline --decorate --graph --pretty='format:%Cred%h%Creset - %C(yellow)%D%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all

[user]
	name = {{ .user.name }}
	email = {{ .user.email }}
