function fish_prompt
    set_color yellow
    echo -n -s (basename $PWD) '> '
    set_color normal
end

fish_add_path --path {{ .chezmoi.homeDir }}/go/bin
fish_add_path --path {{ .chezmoi.homeDir }}/scripts
fish_add_path --path {{ .chezmoi.homeDir }}/bin
fish_add_path --path {{ .chezmoi.homeDir }}/.local/bin
fish_add_path --path {{ .homebrew.prefix }}/bin
fish_add_path --path /usr/local/sbin
fish_add_path --path /Applications/Postgres.app/Contents/Versions/latest/bin

# Set Helix as $EDITOR.
set -x EDITOR hx

# Add JetBrains Toolbox scripts to path
fish_add_path --path {{ .chezmoi.homeDir }}/Library/Application\ Support/JetBrains/Toolbox/scripts

{{- if eq .environment "work" }}

set -x ANSIBLE_BACKUPS_FOLDER "{{ .work.ansibleBackupsFolder}}"
set -x ANSIBLE_REPO_DIR "{{ .work.ansibleRepoDir }}"

set -x GITLAB_API_TOKEN {{ onepasswordRead "op://Employee/gitlab-api-key/password" }}
set -x GITLAB_USERNAME {{ onepasswordRead "op://Employee/GitLab/username" }}
set -x ATLASSIAN_API_TOKEN {{ onepasswordRead "op://Employee/Jira/API token" }}

set -x VERDACCIO_REGISTRY_TOKEN "{{ .work.verdaccioToken }}"

set -x UV_INDEX "https://{{ onepasswordRead "op://Ansible/gitlab-fluxility-deploy-token/username" }}:{{ onepasswordRead "op://Ansible/gitlab-fluxility-deploy-token/password" }}@gitlab.com/api/v4/groups/10804631/-/packages/pypi/simple"

# The Slack username that Ansible will mention when running publications.
set -x ANSIBLE_USER {{ .work.slackUser }}

# Add zlib header locations
set -gx LDFLAGS -L/usr/local/opt/zlib/lib
set -gx CPPFLAGS -I/usr/local/opt/zlib/include

{{- end }}

if status is-interactive
    atuin init fish | source
end
